:root {
    --color1: #242020;
    --color2: #fff;
    --color3: ;
    --color4: ;
    --color5: ;
    --color6: ;
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--color1);
    color: var(--color2);
    padding: 0;
    margin: 0;
}


.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    /* background: blue; */
    width: 100%;
    z-index: 1;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
}

.logo{
    width: 2.5rem;
    height: 2.5rem;
}

.logo > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navlist{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    background: rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navlist > li > a {
    color: var(--color2);
    font-size: 16px;
    padding: .5rem;
    /* background: rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); 
  border: 1px solid rgba(255, 255, 255, 0.3); */
}

.chat-btn{
    display: flex;
    background: none;
    border: none;
    align-items: center;
    gap: .5rem;
    font-size: 16px;
    color: var(--color2);
    cursor: pointer;
    padding: .5rem;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(253, 185, 196), rgb(192, 124, 192));
}

.menu-icon{
    display: none;
    font-size: 1.4rem;
}

.close-btn > i {
    font-size: 1.4rem;
}

.profile{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 7rem;
    left: 0;
}

.profile{
    margin: 0 2rem;
    width: 20%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  /* backdrop-filter: blur(5px);  */
  /* -webkit-backdrop-filter: blur(5px);  */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile > img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}



.resume-btn{
    font-size: 16px;
    padding: .5rem;
    font-weight: 500;
    border: none;
    height: 3rem;
    /* width: 15rem; */
    color: var(--color2);
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgb(253, 185, 196), rgb(192, 124, 192));
}

.social-icon{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.social-icon > li > a {
    color: var(--color2);
    font-size: 1.4rem;
}



.main{
    width: 100%;
    display: flex;
    flex-direction: row;
}


.m-content{
    width: 75%;
    position: absolute;
    right: 0;
    top: 7rem;
}

.m-content > img{
    width: 100%;
    height: 100%;
}






/* Sidebar */
#sidebar {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    /* background: var(--color1); */
    padding: 20px;
    transition: right 0.3s;
    z-index: 1000;
}

#sidebar.open {
    right: 0;
}

#sidebar .navlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sidebar .navlist li a {
    color: var(--color2);
}

#sidebar .close-btn {
    align-self: flex-start;
    font-size: 24px;
    cursor: pointer;
    padding: 0 .5rem;

    background: rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Responsive Styles */
@media screen and (max-width: 980px) {
    .navlist {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    #sidebar {
        display: flex;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
    .profile{
        position: relative;
        width: 25%;
    }
    .m-content{
        position: relative;
        top: 10rem;
    }
}
